body {
  background-color: #5499C7;
}

#output {
  /*background-color: #fff;*/
}

body .container #output div {
  width: auto;
  float: left;
  font-weight: bold;
}

.small {
  font-size: 1em;
}

.medium {
  font-size: 1.4em;
}

.big {
  font-size: 2em;
}

.biggest {
  font-size: 2.2em;
}

.blue {
  color: #8E44AD;
}

.red {
  color : #E74C3C;
}

.white {
  color: #fff;
}

.yellow {
  color: #F1C40F;
}
