body {
  background-color: #5499C7;
}

body .container #output div {
  width: auto;
  float: left;
  font-weight: bold;
  margin: 0;
  /*font-family: 'Coiny', cursive;*/
}

body .container #output div p {
  margin-bottom: 0;
}

h1 {
  font-family: 'Roboto Mono', monospace;
  color: #fff;
}

.spacetop {
  margin-top: 40px;
}

.small {
  font-size: 1em;
}

.medium {
  font-size: 1.4em;
}

.big {
  font-size: 2em;
}

.biggest {
  font-size: 2.2em;
}

.blue {
  color: #8E44AD;
}

.red {
  color : #EC7063;
}

.white {
  color: #fff;
}

.yellow {
  color: #F1C40F;
}

.redback {
  background-color: #EC7063;
}

.coiny {
  font-family: 'Coiny', cursive;
}

.inconsolata {
  font-family: 'Inconsolata', monospace;
}

.pacifico {
  font-family: 'Pacifico', cursive;
}

.shadows {
  font-family: 'Shadows Into Light', cursive;
}
